<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Quiz
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--{{param}}
    <ul>
      <li *ngFor="let item of items">
        {{ item.question }}
      </li>
    </ul>-->
<!--<ul id="options">
        <li *ngFor="let option of options">
          <label>
					<input type="radio" name="answer" [(ngModel)]="checkans" value="{{option}}">
					{{option}}
				</label>
        </li>
      </ul>-->
<!--<ion-item>
  <ion-label floating>Username</ion-label>
  <ion-input type="text"></ion-input>
</ion-item>-->

  <div class="quiz-area" *ngIf="inProgress">
    <div *ngIf="!quizOver">
      <h3 id="question">{{question}}</h3>
      <div id="qtype" *ngIf="qtype !='Blank'">
      <ion-list id="options" radio-group [(ngModel)]="checkans">
        <ion-item *ngFor="let option of options">
          <ion-label>{{option}}</ion-label>
          <ion-radio value="{{option}}"></ion-radio>
        </ion-item>
      </ion-list>
      </div>
      <div id="qtype" *ngIf="qtype =='Blank'">
          <ion-item>
            <ion-label floating>َAnswer</ion-label>
            <ion-input type="text" [(ngModel)]="checkans"></ion-input>
          </ion-item>
      </div>
      <button ion-button (click)="checkAnswer()" *ngIf="answerMode" color="primary">Submit</button>

      <div *ngIf="!answerMode">
        <button ion-button (click)="nextQuestion()" class="next-question" color="primary">Next</button>
        <span *ngIf="correctAns" color="secondary">That is correct!</span>
        <span *ngIf="!correctAns" color="danger">Sorry, that is an incorrect answer.</span>
      </div>
    </div>

    <div *ngIf="quizOver">
      <h2>Quiz is over</h2>
      <button ion-button (click)="reset()" color="primary">Play again</button>
    </div>

    <div id="score">
      <!--Score: {{score}}-->
      <ion-card>
        <ion-card-header>
          Youre score is:
        </ion-card-header>
        <ion-card-content color="danger">
                  {{score}}
        </ion-card-content>
      </ion-card>
    </div>

  </div>
<div *ngIf="items">
<div class="intro" *ngIf="!inProgress">
  <p>Welcome to the QuizApp</p>
  <button ion-button id="startQuiz" (click)="start()" color="primary">Start the Quiz</button>
</div>
</div>

</ion-content>